# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Neural Network from Scratch/*
!/Neural Network from Scratch/task/
/Neural Network from Scratch/task/*
!/Neural Network from Scratch/task/student.py
